lib/firmware/qcom/x1e80100/ASUSTeK/vivobook-s15/qccdsp8380.mbn filter=lfs diff=lfs merge=lfs -text
lib/firmware/qcom/x1e80100/ASUSTeK/vivobook-s15/qcdxkmsuc8380.mbn filter=lfs diff=lfs merge=lfs -text
lib/firmware/qcom/x1e80100/ASUSTeK/vivobook-s15/qcadsp8380.mbn filter=lfs diff=lfs merge=lfs -text
lib/firmware/qcom/x1e80100/ASUSTeK/vivobook-s15/adsp_dtbs.elf filter=lfs diff=lfs merge=lfs -text
lib/firmware/qcom/x1e80100/ASUSTeK/vivobook-s15/cdsp_dtbs.elf filter=lfs diff=lfs merge=lfs -text
lib/firmware/qcom/x1e80100/ASUSTeK/vivobook-s15/cdspr.jsn filter=lfs diff=lfs merge=lfs -text
lib/firmware/qcom/x1e80100/ASUSTeK/vivobook-s15/adspr.jsn filter=lfs diff=lfs merge=lfs -text
lib/firmware/qcom/x1e80100/ASUSTeK/vivobook-s15/adsps.jsn filter=lfs diff=lfs merge=lfs -text
lib/firmware/qcom/x1e80100/ASUSTeK/vivobook-s15/adspua.jsn filter=lfs diff=lfs merge=lfs -text
lib/firmware/qcom/x1e80100/ASUSTeK/vivobook-s15/battmgr.jsn filter=lfs diff=lfs merge=lfs -text
lib/firmware/ath12k/WCN7850/hw2.0/amss.bin.zst filter=lfs diff=lfs merge=lfs -text
lib/firmware/ath12k/WCN7850/hw2.0/board-2.bin.zst filter=lfs diff=lfs merge=lfs -text
lib/firmware/ath12k/WCN7850/hw2.0/m3.bin.zst filter=lfs diff=lfs merge=lfs -text
lib/firmware/qcom/x1e80100/X1E80100-ASUS-Vivobook-S15-tplg.bin.zst filter=lfs diff=lfs merge=lfs -text
